#audio-player-container {
  background-color: #292929;
  border: 3px solid rgb(62, 52, 68);
  box-shadow: 2px 2px 3px rgb(31, 30, 30);
  width: 500px;
}

#current-time {
color: #000000;
}

#duration {
color: #000000;
}

#current-time, #duration {
font-size: 13px;
}


#pButton {
  width: 30px; 
  height: 30px;
  border-radius: 15px;
  border-color: transparent;

}

#pButton:hover {
  cursor: pointer;
}

#timeline {
  width: 350px;
  height: 5px;
  background: #363636;
  cursor: pointer;
  position: relative;
  margin-top: 39px;
}

#playhead{
  width: 5px;
  height: 13px;
  border-radius: 2px;
  background: #9E26E5;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

#playhead:hover {
  cursor: pointer;

}

.play-line {
height: 16px;
}


#skip-forward-15 {
  width: 25px;
  height: 25px;
}

#speed-slider-container {
display: inline-block;
}

#speed-label {
margin: 22px 0px 0px 0px;
text-align: center;
line-height: 8px;
font-size: 12px;
font-weight: bold;
color: #000000;
}

#skip-backward-15 {
  width: 25px;
  height: 25px;
}

#skip-forward-15:hover, #skip-backward-15:hover {
  cursor: pointer;

}




/* Speed slider styling */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 88px;
    -webkit-appearance: none;
    background-color: #3E3443;
    cursor: pointer;
    outline: 0;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    margin-top: -1px;
    outline: 0;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    background: #000000;
    outline: 0;
    box-shadow: 10px 10px;
    
  }

}

