#audio-player-container {
  background-color: #a8a6a6;
  border: 1px solid #000000;
  box-shadow: 2px 2px 3px rgb(31, 30, 30);
  width: 500px;
  border-radius: 7px;
}

#current-time {
  color: #000000;
  justify-self: end;
  font-size: 11px;
}

#duration {
  color: #000000;
  font-size: 11px;
}

#current-time, #duration {
  font-size: 13px;
}


#pButton {
  width: 30px; 
  height: 30px;
  border-radius: 15px;
  border-color: transparent;
  margin-top: 0px !important;
  margin-left: 0px !important;
}

#pButton:hover {
  cursor: pointer;
}

.PLAY-BUTTON {
  justify-self: center;
}

#timeline {
  width: 350px;
  height: 5px;
  background: #000000;
  cursor: pointer;
  margin-top: 10px;
}

#playhead {
  width: 5px;
  height: 13px;
  border-radius: 2px;
  background: #9E26E5;
  margin-top: -4px;
}

#playhead:hover {
  cursor: pointer;
}


#skip-forward-15, #skip-backward-15 {
  width: 26px;
  height: 26px;
  margin-top: 0px !important;
  margin-left: 0px !important;
}

#speed-label {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  margin: 0px;
  padding-left: 4px;
}


#skip-forward-15:hover, #skip-backward-15:hover {
  cursor: pointer;
}


.first-row {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 20% 45% 35%;
}

.second-row {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
}

.third-row {
  display: grid;
  grid-template-columns: 28% 41% 31%;
  margin-bottom: 3px;
}

.SKIP-BACKWARD-15 {
  justify-self: end;
}

.SPEED-SLIDER {
  justify-self: center;
}

#speed-slider {
  vertical-align: top;
}

.SKIP-FORWARD-15 {
  justify-self: start;
}


/* Speed slider styling */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 88px;
    -webkit-appearance: none;
    background-color: rgb(88, 42, 114);
    cursor: pointer;
    outline: 0;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    margin-top: -1px;
    outline: 0;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    background: #000000;
    outline: 0;
    box-shadow: 10px 10px;
    
  }

}



