.card {
  margin-top: 10px;
}

.btn {
  margin-right: 2%;
  right: 0;
}

#profileImage {
  width: 35px;
  margin: 10px;
  
}

.card-body {
  margin-left:25px;
}

#podcastIcon{
  width: 100px;
  margin: 10px;
}

.deletePost {
  float: right;
  position: absolute;
  margin:0 !important;
}

.padding{
  padding-right:1em;
}

.fa-heart{
  color:red;
}

.fa-comment{
  color:white;
}

.x{
  width: 20px;
  margin:0;
  float:right;
  
}

.likes, .comments {
  padding-right: 0.8em;
}

.comments, .likes, .likesNumber:hover {
  cursor: pointer;
}

.likesDiv {
  margin-right: 2em
}
