  #post-container {
    box-shadow: 2px 2px 3px rgb(31, 30, 30);
    border: 6px solid transparent;
    color: white;
  }

  .bPosition{
    position: relative;
    bottom: 10px;
    border-radius: 50px;
  }

  .styles_closeButton__20ID4{
    display: none;
  }

  .styles_modal__gNwvD{
    background: #747a80;
    padding: 1.2rem 2rem 0.7rem;
    border-radius:15px;
  }

  .deleteComment{
    color: white
  }
  
  .favorite {
    height: auto !important;
  }

  .bg-light {
    color: black !important;
  }



  /* width */
::-webkit-scrollbar {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  width: 6px !important;
  height: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 0px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #270d1e;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}