#userImageLikesModal{
    width: 35px;
    margin-top: 5px;
    margin-left: 0;
  }

  #post-container {
    box-shadow: 2px 2px 3px rgb(31, 30, 30);
    border: 6px solid transparent;
  }

  .bPosition{
    position: relative;
    bottom: 10px;
    border-radius: 50px;
  }

  .styles_closeButton__20ID4{
    display: none;
  }

  .styles_modal__gNwvD{
    background: #747a80;
    padding: 1.2rem 2rem 0.7rem;
    border-radius:15px;
  }