#pod-name {
    padding: 0px 0px 12px 0px;
    font-weight: bold;
}

#pod-logo {
    border-radius: 8px;
}

#first-row-listen {
    margin-bottom: 18px;
}


#episode-name {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 20px;
}


#second-row-listen {
    margin-bottom: 18px;
}

#audio-player-listen {
    display: inline-block;
    text-align: center;
}

#line {
    font-weight: normal;
}

#buttons-listen {
    text-align: center;
}

#description-listen {
    margin-left: 4px;
}
