.googleSignIn {
    float: right;
    margin-top: 40px;
} 


.googleButton{
    border-radius:21px !important;
    background-color:rgb(233, 233, 233)  !important;
    color: black !important;
}

button > div {
    border-radius:21px !important;
    background-color:lightgray !important;
    position:relative;
}

.sizing{
    margin: 150px auto;
}

.autoM{
    display:block;
    margin: 0 auto;
}

.loginText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#slogan {
    font-size: 20px;
}
