/* User Info */

.userList {
  height: 100px !important;
  padding-top: 0px !important;
  text-align: center;
  width: 100% !important;
}

/* Favorite Container */

.favorites {
  max-height: 300px;
  overflow-y: scroll;
}

.favorites, 
.posts {
  border: 1px solid black;
  color: white;
  margin-bottom: 20px;
  padding: 5px;
  padding-top: 10px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.favorite {
  height: 70px;
  margin-bottom: 10px;
}

/* Favorite Text */
a {
  color:rgb(15, 15, 15);
  text-decoration:none !important;
}

a:hover {
  text-decoration: none !important;
  color: rgb(143, 143, 143);
}

.favoriteIcon {
  margin-left: -5px !important;
  margin-top: -38px !important;
}

.favoriteLink {
  color: white !important;
}

.favoriteDescription {
  font-size: 12px;
  padding-right: 35px;
}

#favoriteIcon{
  width: 100px;
}

#favoritesTitle, 
#postsTitle {
  font-weight: 550;
  margin-left: -15px;
  padding-left: 0px;
}

.light {
  color: black !important; 
}

.size {
  width: 20px;
  margin:0;
  float:right;
  padding-top: 0.5em;
  color: white !important
}

.border-white {
  border-radius: 20px !important;
  border: 3px solid white !important;
}

.paddingTop {
  padding-top:1em;
}

.ellipsis {
    max-lines: 2;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pad {
  padding:1em;
}
 
h4 {
  padding-top:1%;
}

.favoriteIcon {
  width: 40% !important;
  height: auto !important ;
  border: 1px solid white !important;
  margin: 0px !important;
  margin-top: -10px !important;
}

#card-contain {
  text-align: center;
  border: 1px solid #ffffff;
  height: auto;
  margin: 13px;
  padding: 20px 3px 3px 3px !important;
  border-radius: 10px;
  box-shadow: 6px 0px 21px -2px rgba(0,0,0,0.47);
  transition: 0.3s;
  padding-top: 0px !important;
}
#card-contain h4 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.favoriteDescription {
  font-size: 12px;
  padding-right: 8px;
  padding-left: 8px;
}

.card-body hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 97%;
  text-align:center; 
  margin: 15px auto 15px auto;
}

.delbtn, .deleteButtonX {
  float: right;
  margin: 0px !important;
  padding: 4px 2px 0px 0px !important;
}

#entire-favorites-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.card-body {
  padding: 0px 5px 5px 5px;
}

.card-img-top  {
  border: 1px solid white !important;
}

