.settings-bg-dark {
    border-radius: 15px;
    color: white;
    padding: 15px;
}

.settings-bg-light {
    border-radius: 15px;
    color: black;
    padding: 15px;
}

.theme {
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
}

label {
    margin-right: 10px;
    padding-left: 5px;
}