.searchUserInput {
    width: 25% !important;
    margin: 0 auto;
    border-radius: 50px;
    text-align: center;
}

.userImage {
    border: 2px solid white;
    height: auto;
    width: 100px;
    border-radius: 20px;
    margin-top: 10%;
}

.tile{
    border-radius : 25px;
    height: 150px;
    padding-top: 12px;
    width: 250px;
}

.flexRow{
    display:flex;
    flex-direction: row;
}

.buttonPosition{
    position: relative;
    left: 60%;
    bottom: 80%;
    border-radius: 50px;
}

.searchName{
    font-size: 12pt;
    color: white;
    width: 200px;
    display: inline-block;
}

.userContainer {
    margin: 20px auto;
}
