.searchUserInput {
    width: 25% !important;
    margin: 0 auto;
    border-radius: 50px;
    text-align: center;
}

.userImage {
    border: 2px solid white;
    height: auto;
    width: 100px;
    border-radius: 20px;
    margin-top: 10%;
}

.tile{
    width: 250px;
    border-radius : 25px;
}

.flexRow{
    display:flex;
    flex-direction: row;
}

.buttonPosition{
    position: relative;
    left: 60%;
    bottom: 45%;
    border-radius: 50px;
}

.searchName{
    position: relative;
    top: 50%;
    right: 45%;
    font-size: 12pt;
    color: white;
}