.podcast{
    height: 20px;
    width: 250px;
    padding-bottom: 0.75em !important;
    overflow:hidden;
    margin-bottom:0.99em !important;
    background-color: rgba(36, 36, 36, 0.288);
}

.podcastLogoSmall{
    margin:0;
    position: absolute;
    height:100%;
    border: 3px solid white;
}

.podcastTitle{
    width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    position: relative;
    left:80px;
    top: 15px;
    /* white-space:nowrap; */
}

.notification{
    padding:0 0 2em 0!important;
}