.podcastLogoSmall {
    margin: 0px;
    width: 50px;
    /* position: absolute; */
}

.podcastTitle {
    display: inline;
    margin-left: 10px;
}

.podcast {
    background: lightgray;
    border: 1px solid black;
    height: 60px;
    margin-bottom: 5px;
    padding: 5px;
}