.aboutMe {
    border: 1px solid black;
    color: white;
    margin-bottom: 20px;
    padding: 5px;
    padding-top: 10px;
}

.aboutMeTextarea {
    background: rgb(75, 75, 75);
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 100%;
}

.cancelAboutMe, 
.editAboutMe,
.saveAboutMe {
    float: right;
    margin-right: 0;
}

#aboutMeTitle {
    color: #212529;
    font-weight: 550;
    margin-left: -15px;
    padding-left: 0px;
    padding-top: 1%;
}

#editAboutMe {
    width: 100%;
}

#showAboutMe {
    width: 100%;
}