.btn {
  margin-right: 2%;
  right: 0;
}

.card {
  margin-top: 10px;
}

.commentDiv {
  margin-left: 5px;
}

.commentDiv, .likes, .likesNumber:hover {
  cursor: pointer;
}

.deletePost {
  color: white;
  float: right;
  position: absolute;
  margin:0 !important;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 7px !important;
}

.fa-comment {
  color:white;
}

/* .fa-heart {
  color:red;
} */

.fa-heart-liked {
  color: red;
}

.fa-heart-unliked {
  color: lightgray;
}

.likes, .comments {
  padding-right: 0.8em;
}

.likesDiv {
  margin-right: 5px;
}

.likesDiv, .commentDiv {
  display: inline-block;
  padding: 5px;
}

.padding {
  padding-right:1em;
}

.postText {
  opacity:1;
}

.postText:hover {
  opacity:0.8;
}

.x {
  width: 20px;
  margin:0;
  float:right;
}

#bottom-first {
  max-width: 20px;
}

#episode-description-home {
  font-size: 13px;
  margin-top: 0px;
}

#episode-name-home {
  font-size: 15px;
}

#img-post {
  text-align: center;
  padding: 10px;
}

#name-and-date {
  text-align: center;
}

#podcastIcon {
  width: 80px;
  margin: 0px 10px 0px 5px;
  border: solid 3.4px rgb(212, 208, 208) !important;
}

#podcast-name-home {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px !important;
}

#podcast-name-home, #episode-name-home, #episode-description-home {
  color: rgb(214, 214, 214);
}

#post-top-row {
  margin-bottom: 10px;
}

#post-top-row:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 95%; /* Change this to whatever width you want. */
  padding-top: 8px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid rgb(46, 45, 45); /* This creates the border. Replace black with whatever color you want. */
}

#profileImage {
  width: 35px;
  margin: 0px;
  border-radius: 35px;
}

#second-row-post {
  max-height: 230px !important;
}

#second-row-post:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 95%; /* Change this to whatever width you want. */
  padding-top: 0px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid rgb(46, 45, 45); 
}

#top {
  border-bottom: 1px solid #020202;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

#playFromNavButton {
  color: white;
  border-radius: 8px;
  float: right;
  margin-right: 20px;
  background-color: rgb(37, 37, 37);
  border: none;
  padding: 4px 6px 4px 6px;
}

#playFromNavButton:focus {
  outline:0;
}

@media only screen and (max-width: 768px) {
  #hide-when-small {
    display: none;
    height: 20px;
  }
  
  #post-top-row {
   display: grid;
   grid-template-columns: 50% 50%;
  }

  #post-top-row:after {
    display: none;
  }
}
