.userImage {
    margin: 0px;
    width: 150px;
}

.userImageSmall {
    margin: 0px;
    width: 50px;
}

.userName {
    display: inline;
    font-size: 12px;
}

.color-light {
    color: black;
}

.color-dark {
    color: white;
}