.optionsList {
    background: rgb(0, 0, 0);
    color: white;
    float: right;
    font-size: 14px;
    list-style-type: none;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 150px;
    z-index: 99;
}

.optionsList li {
    cursor: pointer;
}

#deleteAccount {
    color: red;
    cursor: pointer;
    font-size: 14px;
}