.optionsList {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 10px;
    list-style-type: none;
    padding: 6px;
    text-align: center;
    border-radius:5px;
}

.options{
    display: inline-block;
    position: absolute;
    z-index: 99;
    height: 30px;
    width: 60px;
    left: 1em;

}
.optionsList li {
    cursor: pointer;
}

#deleteAccount {
    color: red;
    cursor: pointer;
    font-size: 14px;
}
