.optionsList {
    background: rgb(0, 0, 0);
    color: white;
    float: right;
    font-size: 14px;
    list-style-type: none;
    margin-left: 5px;
    margin-top: 40px;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 100px;
    z-index: 99;
    top: 4px;
}


.optionsList li {
    display: block !important;
    cursor: pointer;
    width: 90px !important;
    height: 28px;
}

#deleteAccount {
    color: red;
    cursor: pointer;
    font-size: 14px;
}
