button > div {
    border-radius:21px !important;
    bottom: 2.5px;
    height: 38px !important;
    position: relative;
}

.findUsers {
    margin-left: 5px;
    margin-top: 5px;
    width: 120px;
}

.hideAudioBtn {
    float: right;
    font-size: 12px;
}

.logoutButton {
    height: 38px !important
}

.navbar {
    border-bottom: solid 3px rgb(167, 167, 167);
    margin-bottom: 20px; 
}

.navbarAudioPopup {
    background: white;
    color: black !important;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    width: 350px;
    border-radius: 10px;
    margin: 8px 0px 0px 40px;
}

.navbarPopupText {
    color: black !important;
    text-align: center;
}

#topPopupText:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 70%; /* Change this to whatever width you want. */
    padding-top: 0px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid rgb(141, 139, 139); /* This creates the border. Replace black with whatever color you want. */
  }

.navbarText {
    color: white !important; 
    font-size: 20px;
    font-weight: bold;
}

#podcastInput {
    border-radius: 21px;
    text-align: left;
    width: 170px;
}

#size {
    height: 50px;
    margin: 0px 15px 0px 0px;
    width: 50px;
}
