.navbarText {
    font-weight: bold;
    font-size: 20px;
    color: white!important; 
}

.navbar {
    margin-bottom: 20px;

}

#signOutBtn {
    margin-left: 10px;
   
  }

  #navbarNavAltMarkup{
    clear: both;
}


.signOutDiv{
    float:right;
     
 }