.findUsers {
    margin-left: 5px;
    margin-top: 5px;
    width: 120px;
}

.navbarText {
    font-weight: bold;
    font-size: 20px;
    color: white!important; 
}

.navbar {
    margin-bottom: 20px; 
    border-bottom: solid 3px rgb(167, 167, 167);
}

.mini{
    max-width:75% !important;
}

#size{
    width: 3em;
    margin: 0 !important;
}