.showPodcasts {
    background: gray;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    right: 120px;
    width: 200px;
    z-index: 99;
}

.hidePodcasts {
    font-size: 48px;
    display: none;
}